{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login.externo') }}
{% endblock %}

{% block body %}
    <div class="cadastro-externo">
        <div class="preloader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Aguarde...</span>
            </div>
        </div>
        <iframe src="{{ LOGIN_URL }}?origin=__{{ absolute_url('/') }}__" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}