<div class="page-header">
    <table>
        <tr>
            <td class="width-auto">
                <img src="{{ asset('client/saraiva/logo.png') }}" width="160">
            </td>
            <td class="text-right">
                {{sl.nome_site}}<br>
                www.{{ DOMINIO }}<br>
                <h2>{{ RELATORIO_TITULO }}</h2>
            </td>
        </tr>
    </table>
</div>