<!-- Modal -->
<div class="modal fade" id="habilitacaoModal" tabindex="-1" role="dialog" aria-labelledby="habilitacaoModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Habilite-se para participar deste leilão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <small>
                    Ao acessar a guia “HABILITAÇÃO” o USUÁRIO do site www.{{ DOMINIO }} requer a liberação para
                    acessar a área de lances com vistas a participar de alienação na MODALIDADE ELETRÔNICA ou SIMULTÂNEA
                    do
                    bem de seu interesse. Para que o acesso seja liberado é necessário que o cadastro do USUÁRIO tenha
                    sido
                    aprovado mediante o preenchimento correto e de forma completa dos campos da guia “FAÇA SEU
                    CADASTRO”,
                    assinatura do CONTRATO e envio dos DOCUMENTOS necessários ao leiloeiro. Ao solicitar seu
                    cadastramento,
                    o USUÁRIO do site DECLARA que tomou conhecimento e ACEITA todas as regras de participação em
                    alienações/leilões eletrônicos e simultâneos disponíveis no site e que não tem dúvidas quanto aos
                    procedimentos, razão pela qual solicita sua HABILITAÇÃO para acessar a área de lance. DECLARA ainda
                    ciência das sanções cíveis e criminais que lhe serão conferidas se descumprir os compromissos
                    assumidos.
                    Concede neste ato, ao leiloeiro proprietário do site, AUTORIZAÇÃO para adotar toda e qualquer medida
                    que
                    vise a proteção da integridade do site e o bom andamento dos leilões para os quais o USUÁRIO tenha
                    requerido sua habilitação. AUTORIZA que o Leiloeiro Oficial assine o auto de arrematação em seu
                    nome.</small>
                <br><br>
                Tem certeza que deseja se habilitar para participar deste leilão ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Habilitar</button>
            </div>
        </div>
    </div>
</div>