<form id="filtrosAvancados" class="hide">
    <div class="form-row mt-4">
        <div class="form-group col-md-3">
            <label for="inputState">Tipo do Bem</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Localização</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Tipo Leilão</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Valor</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputState">Comitente</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Com Lances</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Marca</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Modelo</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha...</option>
                <option>...</option>
            </select>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-dark">Pesquisar</button>
    </div>
</form>